<div *ngIf="articleItem" class="panel">
  <div class="btn-group-vertical w-100">
    <button class="btn btn-secondary btn-sm mr-4" (click)="goBack()">Назад</button>
    <button *ngIf="isAdmin && articleItem" type="button" class="btn btn-secondary btn-sm mr-4"
      (click)="editArticle()">Изменить</button>
  </div>
</div>

<!--Загрузка-->
<ng-template #loading>
  <div class="container-loading">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>

<!--Просмотр статьи-->
<div [style.display]="isEdit ? 'none': 'block'" class="main-card" *ngIf="articleItem; else loading">
  <div class="img" [ngStyle]="{'background-image':'url(' + articleItem[0].heroImage + ')'}"></div>
  <div class="main-info">
    <div class="main-info__descr">
      <h2 class="blog__post__title">{{articleItem[0].name}}</h2>
      <div class="blog__post_subtitle">Категория: {{articleItem[0].categoryName}}</div>
      <div class="blog__post__groups">
        <div class="blog__post_subtitle2">Тэги: </div>

        <div *ngFor="let tag of articleItem[0].tags">
          <a class="blog__post__group">{{tag}}</a>
        </div>
      </div>
      <div class="blog__post__description">{{articleItem[0].description}}</div>
    </div>
  </div>

  <div class="blog__post__footer">
    <div style="display:flex; justify-content: space-between;">
      <div class="blog__post__footer-date">{{articleItem[0].publicationDate | date}}</div>
      <button *ngIf="isAdmin" type="button" class="btn btn-outline-danger btn-sm" (click)="deletePost()">Удалить</button>
    </div>
  </div>
</div>

<!--Редактирование статьи-->
<div *ngIf="isAdmin && articleItem" [style.display]="isEdit ? 'block': 'none'" id="edit">
  <div class="wrapper">
    <div class="wrapped-div">

      <form #UpdateArticle='ngForm' (submit)="updateArticle(UpdateArticle)">

        <label>Ссылка на картинку</label>
        <input class="form-control" name="imageLink" ngModel maxlength="200" [(ngModel)]="editedArticle.heroImage">

        <label>Название статьи</label>
        <input placeholder="(Без изменений)" class="form-control" name="name" ngModel  maxlength="80" [(ngModel)]="editedArticle.name">

        <label>Краткое описание</label>
        <textarea placeholder="(Без изменений)" class="form-control" name="shortDescr" rows="3" [(ngModel)]="editedArticle.shortDescription"  maxlength="200"></textarea>

        <label>Полное описание</label>
        <textarea placeholder="(Без изменений)" class="form-control" name="fullDescr" rows="10" [(ngModel)]="editedArticle.description" ></textarea>

        <label>Категория</label>
        <label *ngIf="notChangedCategory">(Без изменений)</label>
        <div class="d-flex flex-column flex-grow-1" style="width: 300px;">
          <mat-select [(ngModel)]="editedArticle.categoryName" name="categoryValue" (selectionChange)="changedCategory()">
            <mat-option *ngFor="let category of categories" [value]="category.categoryName">
              {{category.categoryName}}
            </mat-option>
          </mat-select>
          <mat-divider></mat-divider>
        </div>

        <label>Тэги</label>
        <label *ngIf="notChangedTags">(Без изменений)</label>
        <div class="d-flex flex-column flex-grow-1" style="width: 300px;">
          <mat-select [(ngModel)]="editedArticle.tags" name="tags" multiple (selectionChange)="changedTags()">
            <mat-option *ngFor="let tag of tags" [value]="tag.tagName">
              {{tag.tagName}}
            </mat-option>
          </mat-select>
          <mat-divider></mat-divider>
        </div>

        <div class="d-flex justify-content-between" style="margin-top: 30px;">
          <button type="submit" class="btn btn-success" [disabled]="UpdateArticle.invalid">Изменить</button>       
          <button type="button" class="btn btn-outline-danger" (click)="restoreDefaultValues()">Отмена</button>
        </div>
      </form>

    </div>
  </div>
</div>
