<div class="main-card">
  <div class="pointer" (click)="onClick(articleItem.articleId)">
    <div class="img" [ngStyle]="{'background-image':'url(' + articleItem.heroImage + ')'}"></div>

    <div class="main-info">
      <div class="main-info__descr">
        <h3 class="blog__post__title">{{articleItem.name}}</h3>
        <div class="blog__post_subtitle">Категория: {{articleItem.categoryName}}</div>

        <div class="blog__post__groups">
          <div *ngFor="let tag of articleItem.tags">
            <a class="blog__post__group">{{tag}}</a>
          </div>
        </div>

        <a class="blog__post__description">{{articleItem.shortDescription}}</a>
      </div>
    </div>

    <div class="blog__post__footer">
      <div class="blog__post__footer-date">{{articleItem.publicationDate | date}}</div>
    </div>
  </div>
</div>
