.main-card{
    padding: 0 15px 30px;
    height: 660px;
}
.img{
    height: 235px;
    /* background-image:url(D:\Personalization\Images\27.jpg); */
    background-color:#212121;
    background-size: cover;  
    background-position: center;
}
.card-option{
    max-width: 396px;
    margin-bottom: 10px;
    margin-left: 2px;
    margin-right: 2px;
}
.main-info{
    background-color: #212121;
    padding: 20px;
    font-size: 14px;
}
.main-info__descr{
    height: 310px;
    overflow: hidden;
}
.blog__post__title {
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
    font-size: 21px;
    line-height: 26px;
    margin-top: 20px;
    margin-bottom: 8px;
    color: inherit;
    color: #e8e8e8;

}
.blog__post__groups {
    overflow: hidden;
    font-size: 12px;
    padding-bottom: 10px;
    max-height: 34px;
    display: flex;
    flex-wrap: wrap;
}
.blog__post_subtitle{
    color: #7D7D7D;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.blog__post__groups a{
    color: #7D7D7D;
    
}
.blog__post__group {
    margin-right: 10px;
    text-decoration: none;
}
.blog__post__description{
    font-size: 16px;
    line-height: 26px;
    text-decoration: none;
    color: #e8e8e8;
    min-height: 90%;
    display: block;
}
.blog__post__footer {
    background-color: #212121;
    color: #7D7D7D;
    white-space: nowrap;
    display: block;
    height: 45px;
    padding: 0 20px;
    font-size: 12px;
}
.blog__post__footer-date{
    display: inline-block;
    width: 30%;
}

.pointer{
    cursor: pointer;
}