<div class="main-card">
  <div class="pointer" (click)="onClick(articleItem.articleId)">
    <div class="img" [ngStyle]="{'background-image':'url(' + articleItem.heroImage + ')'}"></div>
    <div class="main-info">
      <div class="main-info__descr">
        <h3 class="blog__post__title">{{articleItem.name}}</h3>

        <div class="blog__post__groups">
          <a class="blog__post__group">Категория: {{articleItem.categoryNavigation.categoryName}}</a>

        </div>

        <a class="blog__post__description">{{articleItem.shortDescription}}</a>
      </div>
    </div>

    <div class="blog__post__footer">
      <div class="blog__post__footer-date">{{articleItem.publicationDate | date}}</div>
    </div>
    <div class="blog__post__footer__buttons">
      <button class="btn btn-secondary btn-sm my-1">Изменить</button>
      <button class="btn btn-outline-danger btn-sm my-1">Удалить</button>
    </div>
  </div>
</div>
