<div class="my_container">

  <div class="wrapper">
    <div class="wrapped-div">

      <form #Addform='ngForm' (submit)="AddCategory(Addform)">
        <div class="d-flex align-items-center">
          <label>Добавить категорию</label>
          <input #NewCategory="ngModel" class="form-control" name="addCategory" [(ngModel)]="newCategory">
          <button type="submit" class="btn btn-outline-secondary ml-2 w-10" style="width: 100px;">Добавить</button>
        </div>
      </form>
      <label *ngIf="addCategory" class="text-danger">Категория уже существует</label>
      <label *ngIf="emptyAddField" class="text-danger">Пустое поле</label>
    </div>
  </div>

  <div class="wrapper">
    <div class="wrapped-div">

      <form #deleteForm='ngForm' (submit)="DeleteCategory(deleteForm)">
        <div class="d-flex align-items-center">
          <label>Удалить категорию</label>

          <div class="d-flex flex-column flex-grow-1">
            <mat-select [(ngModel)]="selectedValue" name="deleteCtgr">
              <mat-option *ngFor="let category of categories" [value]="category.categoryId">
                {{category.categoryName}}
              </mat-option>
            </mat-select>
            <mat-divider></mat-divider>
          </div>
          <button type="submit" class="btn btn-outline-danger ml-2" style="width: 100px;">Удалить</button>
        </div>
      </form>
      <label *ngIf="emptyDeleteField" class="text-danger">Выберите категорию</label>
    </div>
  </div>

  <div class="wrapper">
    <div class="wrapped-div">
      <label class="d-block">Изменить категорию</label>
      <form #UpdateForm='ngForm' (submit)="UpdateCategory(UpdateForm)">
        <div class="d-flex align-items-center">
          <div class="d-flex flex-column flex-grow-1">
            <mat-select [(ngModel)]="oldValue" name="forUpdateId">
              <mat-option *ngFor="let category of categories" [value]="category.categoryId">
                {{category.categoryName}}
              </mat-option>
            </mat-select>
            <mat-divider></mat-divider>
          </div>
          <input style="max-width: 232px; margin-left: 20px;" #NewValue="ngModel" class="form-control" name="newCategory" [(ngModel)]="newValue">
          <button type="submit" class="btn btn-outline-secondary ml-2 w-10" style="width: 100px;">Изменить</button>
        </div>
      </form>
      <label *ngIf="emptyUpdateField" class="text-danger">Пустое поле</label>
      <label *ngIf="selectedCategory" class="text-danger">Выберите категорию</label>
    </div>
  </div>
</div>
